.footer {
  width: 100%;
}

.footer-img {
  background-image: url("../image/footer.png");
  height: 318px;
  width: 100%;
  position: relative;
}

.footer-container {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

.footer-container h4,
p {
  text-align: center;
  color: #fff;
  line-height: 120%;
}

.footer-container h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
